<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name = "format-detection" content ="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../static/css/all.css">
</head>

<body style="height: 5000px;">

    <div class="guide-wrap">

        <h2 class="guide-h2">버튼</h2>

        <!-- #1 Full Primary -->
        <h3 class="guide-h3">Full Primary</h3>
        <div class="button-wrap__full">
            <button type="button" class="btn btn-primary">Action</button>
        </div>

        <!-- #2 Full Secondary -->
        <h3 class="guide-h3">Full Secondary</h3>
        <div class="button-wrap__full">
            <button type="button" class="btn btn-secondary">Action</button>
        </div>

        <!-- #3 Full Secondary -->
        <h3 class="guide-h3">Full Disabled</h3>
        <div class="button-wrap__full">
            <button type="button" class="btn" disabled>Action</button>
        </div>

        <!-- #4 Half Primary -->
        <h3 class="guide-h3">Half Primary</h3>
        <div class="button-wrap__half">
            <button type="button" class="btn btn-primary">Action</button>
            <span>&nbsp;</span>
            <button type="button" class="btn btn-primary">Action</button>
        </div>

        <!-- #5 Half Secondary -->
        <h3 class="guide-h3">Half Secondary</h3>
        <div class="button-wrap__half">
            <button type="button" class="btn btn-secondary">Action</button>
            <span>&nbsp;</span>
            <button type="button" class="btn btn-secondary">Action</button>
        </div>

        <!-- #6 Half Disable -->
        <h3 class="guide-h3">Half Disable</h3>
        <div class="button-wrap__half">
            <button type="button" class="btn btn-primary" disabled>Action</button>
            <span>&nbsp;</span>
            <button type="button" class="btn btn-secondary" disabled>Action</button>
        </div>

        <!-- #7 Float Button -->
        <h3 class="guide-h3">Float Button : 화면 하단에 고정된 버튼 스크롤시에도 고정</h3>
        <div class="button-wrap__half button-wrap__float">
            <button type="button" class="btn btn-primary">Action</button>
            <span>&nbsp;</span>
            <button type="button" class="btn btn-secondary" disabled>Action</button>
        </div>

    </div>

</body>
</html>