<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name = "format-detection" content ="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../static/css/all.css">
</head>

<body>

    <div style="max-width: 768px;margin: 0 auto;">

        <!-- HTML -->
        <div class="input-element">

            <div class="input-label">
                <p class="input-label-text">Label</p>
            </div>

            <div class="input-text-wrap">
                <input type="text" class="input-text" placeholder="호잇">
                <button type="button" class="input-text-reset"><i class="icon-ic_close"></i></button>
                <!-- <span class="input-text-timer">00:00</span> -->
                <!-- <span class="input-text-checked"><i class="icon-ic_check"></i></span>
                <span class="input-text-loading"><i class="icon-ic_loading"></i></span> -->
            </div>

            <div class="input-message">
                <div class="input-message-text__left">
                    Info. Message
                </div>
                <div class="input-message-text__right">
                    Action
                </div>
            </div>
        </div>
        <!-- HTML -->

    </div>
    <!-- //HTML -->

    <!-- Script -->
    <!-- <script src="../static/js/service/components/navigation.js"></script> -->
</body>
</html>