<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name = "format-detection" content ="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../static/css/all.css">
</head>

    <!-- Modal Popup -->
    <div class="modal-wrap" style="display: flex">
        <div class="modal-content">
            <div class="modal-title-area">
                TITLE 영역
            </div>
            <div class="modal-content-area">
                <div class="modal-content-body__regular">
                    본문입니다. <b>강조 텍스트는 볼드</b>가 사용됩니다.
                </div>
                <div class="modal-content-body__small">
                    일반사면을 명하려면 국회의 동의를 얻어야 한다.<br/>
                    대통령은 국회에 출석하여 발언하거나 서한으로 의견을 표시할 수 있다.
                </div>
                <div class="modal-content-body-bullet__regular">
                    <ul>
                        <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                        <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                        <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                    </ul>
                </div>
                <div class="modal-content-body-bullet__small">
                    <ul>
                        <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다. 인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                        <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                        <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                    </ul>
                </div>
                <div class="modal-content-box">
                    <div class="modal-content-body-bullet__regular">
                        <ul>
                            <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                            <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                            <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                        </ul>
                    </div>
                    <div class="modal-content-body-bullet__small">
                        <ul>
                            <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다. 인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                            <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                            <li>인간의 무한한 그것을 끝에 힘차게 역사를 듣는다.</li>
                        </ul>
                    </div>
                </div>
                <figure class="modal-content-image">
                    <img src="https://image.goodchoice.kr/resize_490x348/adimg_new/6688/0/5bdfd8270667f.jpg" alt="">
                </figure>
            </div>
            <div class="modal-button-area">
                <div class="button-wrap__full-single">
                    <button type="button" class="btn btn-secondary">Action</button>
                </div>
                <div class="button-wrap__stacked">
                    <button type="button" class="btn btn-secondary">Action</button>
                    <span>&nbsp;</span>
                    <button type="button" class="btn btn-primary">Action</button>
                </div>
                <div class="button-wrap__half">
                    <button type="button" class="btn btn-secondary">Action</button>
                    <span>&nbsp;</span>
                    <button type="button" class="btn btn-primary">Action</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal Popup -->


</body>
</html>