<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name = "format-detection" content ="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../static/css/all.css">
</head>

<body style="background:rgba(0,0,0,0.2);height: 5000px;">

    <!-- HTML -->
    <div class="navigation">
        <div class="navigation-inner__left">
            <button type="button"><i class="icon-ic_back"></i></button>
        </div>
        <strong class="navigation-title">Page Title</strong>
        <div class="navigation-inner__right">
            <!-- <button type="button"><i c>ICON</i></button> -->
            <button type="button" class="navigation-button-text">Action</button>
        </div>
        <div class="virtual-element">&nbsp;</div>
    </div>
    <!-- //HTML -->

    <!-- Script -->
    <script src="../static/js/service/components/navigation.js"></script>

    <script>
    navigation.init('dark');
    </script>
</body>
</html>