<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name = "format-detection" content ="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../static/css/all.css">
</head>
<body style="height: 5000px">

    <button 
        style="background: palevioletred;padding: 30px;font-size: 14px;color: #fff;"
        onclick="toastPopup.show('테스트용');">
        토스트 팝업 테스트
    </button><br />

    <button 
        style="background: palevioletred;margin-top: 10px;padding: 30px;font-size: 14px;color: #fff;"
        onclick="toastPopup.show('테스트용 테스트용 테스트용 테스트용 테스트용 테스트용 테스트용 테스트용 테스트용 테스트용',true);">
        토스트 팝업 테스트 2
    </button>

    <!-- Script -->
    <script src="../static/js/service/components/popup-toast.js"></script>
</body>
</html>