<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name = "format-detection" content ="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../static/css/all.css">
</head>

<body>

    <div class="guide-wrap">

        <h2 class="guide-h2">제휴점 리스트</h2>

        <!-- #1 파노라마 -->
        <h3 class="guide-h3">파노라마 타입</h3>

        <ul class="product-panorama-wrap">

            <li class="product-panorama">
                <figure class="product-panorama-image" style="background-image:url('https://image.goodchoice.kr/resize_1000X500x0/adimg_new/45388/6888/ee846076760d5268e34fb06caa25fc65.jpg')"><button type="button">360뷰 확인</button></figure>

                <!-- 찜버튼이 있으면 product-is-zzim 클래스 존재 -->
                <div class="product-title-area product-is-zzim ">
                    <span class="product-badge-category__primary">호텔</span>
                    <p class="product-title">Product Title(제휴점명)</p>
                    <p class="product-info">Product Subtitle | 제휴점 위치 정보 or 상세주소 상세주소 상세주소 상세주소 상세주소</p>
                    <button type="button" class="product-zzim">찜</button>
                </div>

                <div class="product-price-area">
                    <div>
                        <span class="product-price-caption">할인사유</span>
                        <span class="product-price-sale">000,000원</span>
                        <span class="product-price-default">000,000</span>
                        <span class="product-price-day">/박</span>
                    </div>
                    <div>
                        실시간 정보
                    </div>
                </div>
            </li>

            <li class="product-panorama">
                <figure class="product-panorama-image" style="background-image:url('https://image.goodchoice.kr/resize_1000X500x0/adimg_new/45388/6888/ee846076760d5268e34fb06caa25fc65.jpg')"></figure>
                <div class="product-title-area">
                    <span class="product-badge-category__secondary">CATEGORY</span>
                    <p class="product-title" class="product-zzim">Product Title(제휴점명) - 영역보다 길면 단어 단위로 줄바꿈 최대 2줄까지 표현이 가능합니다. 테스트 줄바꿈 말줄임</p>
                    <p class="product-info">Product Subtitle | 제휴점</p>
                </div>
            </li>

        </ul>


    </div>

    <!-- Script -->
    <script src="../static/js/service/components/product.js"></script>

</body>
</html>