/**
 * @ Author: Keen
 * @ Create Time: 2019-08-14 09:48:11
 * @ Description: GNB
 * @ zpl://screen?pid=5d1d633794d7ed78bcacd6f8&sid=5d1d9bce93006c731a719f3a
 */

@mixin navigation($titleColor) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background: transparent;
    color: $titleColor;
    padding: 0 10px;
    opacity: 0;

    &.show {
        opacity: 1;
    }

    .navigation-inner__left {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        button {
            width: 40px;
            height: 40px;
            color: inherit;
        }

        i {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
    }

    .navigation-title {
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 8px;
        color: inherit;
        @include font_gnb_title();
    }

    .navigation-inner__right {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;

        .navigation-button-text {
            width: auto;
            padding: 0 12px;
            text-align: center;
            @include font_gnb_action;
        }

        button {
            width: 40px;
            height: 40px;
            color: inherit;
        }
    }

    .virtual-element {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: #fff;
        opacity: 0;
    }
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    min-width: 320px;
}

.navigation__dark {
    @include navigation($color_text_dark_primary);
}

.navigation__light {
    @include navigation($color_text_light_primary);
}