/**
 * @ Author: Keen
 * @ Create Time: 2019-08-16 09:53:53
 * @ Description: 제휴점 리스트
 * zpl://screen?pid=5d1d633794d7ed78bcacd6f8&sid=5d3027970335ea8e378331e7
 */

.product-panorama-wrap {
    padding-top: 20px;
    opacity: 0;
    transition: 0.3s;

    &.show {
        opacity: 1;
    }
}

.product-panorama {
    padding: 0 20px 20px;

    a {
        display: block;
        color: $color_text_dark_primary;
    }

    figure {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        padding-bottom: 56.25%;
        margin-bottom: 8px;

        img {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .product-360 {
        display: inline-block;
        position: absolute;
        bottom: 10px;
        z-index: 20;
        right: 10px;
        width: 46px;
        height: 22px;

        .icon-img_360_badge {
            font-size: 22px;
        }
    }
}



.product-title-area {
    position: relative;
    padding: 0 2px 10px 2px;

    &.product-is-favorite {
        padding-right: 52px;
    }

    .product-favorite {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;

        i {
            display: inline-block;
            width: 32px;
            height: 32px;
            font-size: 32px;
        }
    }

    .product-favorite__active {
        .ic_nav_fav:before {
            content: "\e902";
        }
    }
}

@mixin product-badge-category {
    display: inline-block;
    margin: 2px 0;
    padding: 0 3px;
    height: 15px;
    line-height: 16px;
    color: $color_text_light_primary;
    @include font_badge_1;
}

.product-badge-category__primary {
    background-color: $color_blueb_primary;
    @include product-badge-category;
}

.product-badge-category__secondary {
    background-color: $color_blueb_tertiary;
    @include product-badge-category;
}

.product-title {
    padding: 4px 0 1px 0;
    color: $color_text_dark_primary;
    word-break: keep-all;
    @include font_product_title1;
    @include word-ellipsis-line2;
}

.product-info {
    padding-top: 3px;
    color: $color_text_dark_primary;
    @include word-ellipsis-line1;
    @include font_product_subtitle;
}

.product-price-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px 2px 0 2px;

    @media all and (max-width: 359px) {
        flex-direction: column-reverse;

        div:nth-of-type(1) {
            margin-right: auto;
        }

        div:nth-of-type(2) {
            margin-left: auto;
        }
    }
}

.product-additional-info {
    display: flex;
    margin-top: 8px;
    padding: 7px 10px 7px;
    background-color: $color_bg_tertiary;

    div {
        color: $color_text_dark_secondary;
        @include font_product_caption3;
        @include word-ellipsis-line2;
    }
}

.product-price-soldout {
    color: $color_text_dark_secondary;
    @include font_product_price1;
}

.product-price-caption {
    display: inline-block;
    padding-right: 4px;
    color: $color_gold_secondary;
    @include font_product_caption1;
}

.product-price-sale {
    color: color_text_dark_primary;
    @include font_product_price1;
}

.product-price-default {
    padding-left: 4px;
    color: $color_text_dark_tertiary;
    text-decoration: line-through;
    @include font_product_subtitle;
}

.product-price-day {
    padding-left: 2px;
    color: $color_text_dark_tertiary;
    @include font_product_caption1;
}

.product-realtime-info {
    margin-left: auto;
    padding-left: 8px;
    color: $color_text_dark_tertiary;
    @include font_product_caption1;
}