@font-face {
    font-family: 'icomoon';
    src: url('../icomoon/fonts/icomoon.eot?mocjw1');
    src: url('../icomoon/fonts/icomoon.eot?mocjw1#iefix') format('embedded-opentype'),
        url('../icomoon/fonts/icomoon.ttf?mocjw1') format('truetype'),
        url('../icomoon/fonts/icomoon.woff?mocjw1') format('woff'),
        url('../icomoon/fonts/icomoon.svg?mocjw1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ic_nav_discover_on:before {
    content: "\e900";
}

.icon-ic_nav_discover:before {
    content: "\e901";
    color: #656c76;
}

.icon-ic_nav_fav_on:before {
    content: "\e902";
}

.icon-ic_nav_fav:before {
    content: "\e903";
    color: #656c76;
}

.icon-ic_nav_home_on:before {
    content: "\e904";
}

.icon-ic_nav_home:before {
    content: "\e905";
}

.icon-ic_nav_more_on:before {
    content: "\e906";
}

.icon-ic_nav_more:before {
    content: "\e907";
    color: #656c76;
}

.icon-ic_nav_res_on:before {
    content: "\e908";
}

.icon-ic_nav_res:before {
    content: "\e909";
    color: #656c76;
}

.icon-ic_nav_search_on:before {
    content: "\e90a";
}

.icon-ic_nav_search:before {
    content: "\e90b";
    color: #656c76;
}

.icon-img_ht_emblem:before {
    content: "\e90c";
}

.icon-img_ht_logotype:before {
    content: "\e90d";
}

.icon-ic_alert:before {
    content: "\e90e";
}

.icon-ic_arrow_down:before {
    content: "\e90f";
}

.icon-ic_arrow_right:before {
    content: "\e910";
}

.icon-ic_arrow_up:before {
    content: "\e911";
}

.icon-ic_back:before {
    content: "\e912";
}

.icon-ic_backward:before {
    content: "\e913";
}

.icon-ic_building:before {
    content: "\e914";
}

.icon-ic_calendar:before {
    content: "\e915";
}

.icon-ic_cancel:before {
    content: "\e916";
}

.icon-ic_check:before {
    content: "\e917";
}

.icon-ic_clock:before {
    content: "\e918";
}

.icon-ic_close:before {
    content: "\e919";
}

.icon-ic_copy:before {
    content: "\e91a";
}

.icon-ic_downward:before {
    content: "\e91b";
}

.icon-ic_dropdown:before {
    content: "\e91c";
}

.icon-ic_email:before {
    content: "\e91d";
}

.icon-ic_ext_link:before {
    content: "\e91e";
}

.icon-ic_facebook:before {
    content: "\e91f";
}

.icon-ic_fav_on:before {
    content: "\e920";
}

.icon-ic_fav:before {
    content: "\e921";
}

.icon-ic_filter:before {
    content: "\e922";
}

.icon-ic_forward:before {
    content: "\e923";
}

.icon-ic_guest:before {
    content: "\e924";
}

.icon-ic_info:before {
    content: "\e925";
}

.icon-ic_kakao:before {
    content: "\e926";
}

.icon-ic_kakaotalk:before {
    content: "\e927";
}

.icon-ic_list:before {
    content: "\e928";
}

.icon-ic_loading:before {
    content: "\e929";
}

.icon-ic_location:before {
    content: "\e92a";
}

.icon-ic_map:before {
    content: "\e92b";
}

.icon-ic_more:before {
    content: "\e92c";
}

.icon-ic_msg:before {
    content: "\e92d";
}

.icon-ic_my_location:before {
    content: "\e92e";
}

.icon-ic_naver:before {
    content: "\e92f";
}

.icon-ic_nearme:before {
    content: "\e930";
}

.icon-ic_phone:before {
    content: "\e931";
}

.icon-ic_question:before {
    content: "\e932";
}

.icon-ic_remove:before {
    content: "\e933";
}

.icon-ic_settings:before {
    content: "\e934";
}

.icon-ic_share:before {
    content: "\e935";
}

.icon-ic_sort:before {
    content: "\e936";
}

.icon-ic_star_full:before {
    content: "\e937";
}

.icon-ic_star_half:before {
    content: "\e938";
}

.icon-ic_add:before {
    content: "\e939";
}

.icon-img_360_badge .path1:before {
    content: "\e93a";
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

.icon-img_360_badge .path2:before {
    content: "\e93b";
    margin-left: -2.0908203125em;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.icon-img_360_btn .path1:before {
    content: "\e93c";
    color: rgb(255, 255, 255);
    opacity: 0.4;
}

.icon-img_360_btn .path2:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}