/**
* @ Author: Keen
* @ Create Time: 2019-07-22 15:28:11
* @ Description: 타이포그라피 컬러
*/

$color_bg_primary: #fff;
$color_bg_secondary: #fafafa;
$color_bg_tertiary: #f5f5f5;
$color_bg_quaternary: #ebebeb;
$color_bg_tinted: #f2f3f5;

$color_divider_dark: rgba(6,12,20,0.06);
$color_divider_light: rgba(255,255,255,0.48);

$color_shadow_primary: rgba(0,0,0,0.04);
$color_shadow_secondary: rgba(0,0,0,0.08);
$color_shadow_dialog: rgba(0,0,0,0.4);
$color_shadow_fab: rgba(0,0,0,0.5);

$color_text_dark_primary: rgba(6,12,20,0.8);
$color_text_dark_secondary: rgba(6,12,20,0.64);
$color_text_dark_tertiary: rgba(6,12,20,0.56);
$color_text_dark_hint: rgba(6,12,20,0.32);
$color_text_dark_disabled: rgba(6,12,20,0.16);

$color_text_blueb_primary: #1B293D;
$color_text_blueb_secondary: #3D4E66;
$color_text_blueb_tertiary: #6D7A8F;
$color_text_blueb_quaternary: #C4C7CC;

$color_text_light_primary: rgba(255,255,255,1);
$color_text_light_secondary: rgba(255,255,255,0.88);
$color_text_light_tertiary: rgba(255,255,255,0.72);
$color_text_light_hint: rgba(255,255,255,0.48);

$color_action_blueb_primary: #0F1929;
$color_action_blueb_secondary: rgba(15,25,41,0.64);
$color_action_blueb_tertiary: rgba(15,25,41,0.24);
$color_action_blueb_disabled: #F6F6F7;

$color_action_grey_primary: #F0F0F0;
$color_action_grey_secondary: #D7DBE0;

$color_action_white: #fff;

$color_action_outline: #D7DBE0;

$color_textfield: #F5F5F5;

$color_gold_primary: #A39262;
$color_gold_secondary: #B8AF8C;

$color_blueb_primary: #0F1929;
$color_blueb_secondary: #060C14;
$color_blueb_tertiary: #6D7A8F;

$color_filter_dialog: rgba(0,0,0,0.8);
// color_filter_pdp

$color_filter_banner: rgba(255,255,255,0.96);

$color_calendar_disabled: #D7D8D9;
$color_semantic_safe: #6C83F5;
$color_semantic_warning: #F45858;
$color_semantic_info: #6C9E99;

$kakao_y: #FFDE00;
$kakao_b: #3C1E1E;
$facebook: #4267B2;
$naver: #00C73C;

$color_toast: rgba(15, 25, 41, 0.8);