/**
 * @ Author: Keen
 * @ Create Time: 2019-07-22 15:28:11
 * @ Description: 타이포그라피
 */

/* Font Weight */
$Heavy: 900;
$Bold: 600;
$Regular: 400;

/* GNB */
@mixin font_gnb_title {
    font-size: 15px;
    font-weight: $Regular;
}

@mixin font_gnb_action {
    font-size: 13px;
    font-weight: $Regular;
}

@mixin font_gnb_label {
    font-size: 9px;
    font-weight: $Regular;
}

@mixin font_gnb_label_on {
    font-size: 9px;
    font-weight: $Bold;
}

/* Controls & Action */
@mixin font_filter {
    font-size: 13px;
    font-weight: $Regular;
}

@mixin font_filter_on {
    font-size: 13px;
    font-weight: $Bold;
}

@mixin font_input_primary {
    font-size: 18px;
    font-weight: $Bold;
}

@mixin font_input_secondary {
    font-size: 13px;
    font-weight: $Regular;
}

@mixin font_action_primary {
    font-size: 15px;
    font-weight: $Bold;
}

@mixin font_action_secondary {
    font-size: 13px;
    font-weight: $Bold;
}

@mixin font_action_tertiary {
    // TBD
}

/* Page Title */
@mixin font_page_title {
    font-size: 20px;
    font-weight: $Bold;
}

@mixin font_page_subtitle {
    font-size: 14px;
    font-weight: $Regular;
}

/* Product List */
@mixin font_product_title1 {
    font-size: 16px;
    font-weight: $Bold;
}

@mixin font_product_title2 {
    font-size: 15px;
    font-weight: $Bold;
}

@mixin font_product_subtitle {
    font-size: 13px;
    font-weight: $Regular;
}

@mixin font_product_price1 {
    font-size: 16px;
    font-weight: $Heavy;
}

@mixin font_product_price2 {
    font-size: 15px;
    font-weight: $Heavy;
}

@mixin font_product_caption1 {
    font-size: 13px;
    font-weight: $Bold;
}

@mixin font_product_caption2 {
    font-size: 12px;
    font-weight: $Bold;
}

@mixin font_product_caption3 {
    font-size: 12px;
    font-weight: $Regular;
}

/* General */
@mixin font_hero_1b {
    font-size: 18px;
    font-weight: $Bold;
}

@mixin font_hero_2b {
    font-size: 20px;
    font-weight: $Bold;
}

@mixin font_hero_3b {
    font-size: 24px;
    font-weight: $Bold;
}

@mixin font_title_1b {
    font-size: 15px;
    font-weight: $Bold;
}

@mixin font_title_1m {
    // font-size: px;
    // font-weight: $Regular;
}

@mixin font_title_1r {
    font-size: 15px;
    font-weight: $Regular;
}

@mixin font_title_1r_leading {
    font-size: 15px;
    font-weight: $Regular;
    line-height: 23px;
}

@mixin font_title_2b {
    font-size: 14px;
    font-weight: $Bold;
}

@mixin font_title_2m {
    font-size: 14px;
    font-weight: $Regular;
}

@mixin font_title_3b {
    font-size: 13px;
    font-weight: $Bold;
}

@mixin font_body_1r {
    font-size: 14px;
    font-weight: $Regular;
}

@mixin font_body_1r_leading {
    font-size: 14px;
    font-weight: $Regular;
    line-height: 22px;
}

@mixin font_body_2r {
    font-size: 13px;
    font-weight: $Regular;
}

@mixin font_etc_1b {
    font-size: 12px;
    font-weight: $Bold;
}

@mixin font_etc_1m {
    font-size: 12px;
    font-weight: $Regular;
}

@mixin font_etc_1r {
    font-size: 12px;
    font-weight: $Regular;
}

@mixin font_etc_1r_leading {
    font-size: 12px;
    font-weight: $Regular;
    line-height: 18px;
}

@mixin font_etc_2b {
    font-size: 11px;
    font-weight: $Bold;
}

@mixin font_etc_2m {
    // font-size: px;
    // font-weight: $Regular;
}

@mixin font_etc_2r {
    font-size: 11px;
    font-weight: $Regular;
}

@mixin font_etc_2r_leading {
    font-size: 11px;
    font-weight: $Regular;
    line-height: 17px;
}

/* Additional Elements */
@mixin font_calendar {
    font-size: 15px;
    font-weight: $Regular;
}
@mixin font_calendar_on {
    font-size: 15px;
    font-weight: $Bold;
}

@mixin font_badge_1 {
    font-size: 10px;
    font-weight: $Bold;
}
@mixin font_badge_2 {
    font-size: 13px;
    font-weight: $Regular;
}

@mixin font_search_caption {
    font-size: 12px;
    font-weight: $Heavy;
}